* {
    margin: 0pt;
    padding: 0pt;
}
html{
    height: 100%;
}
nav{
    background-color: #FFFFFF;
    height: 50px;
}

body {
    background: url(isaac-quesada-QjaBfogTXqE-unsplash.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
  }

footer{
    color: white;
    font-size: smaller;
 
    /* display: flex; */
    position: absolute;
    bottom: 25px;
    right: 35px;
}

footer div{
    justify-content: flex-end;
    align-content: flex-start;
}

#topbar{
    display: flex;
    justify-content: start;
}

.icon {
    height: 50px;
    width: 50px;
    display: block;
    /* Other styles here */
}

#yahoo{
    background: url(yahoo-logo.jpg);
    background-size: 100%;
}
#subbar{
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    display: flex;
    justify-content: flex-end;
}

input{
    padding-left: 25px;
    font-size: 23px;
    font-weight: bold;
    flex-grow: 8;
    border-radius: 0%;
    border-style: none;
}
input[type=text]:focus {
    outline: none;
  }

::placeholder{
    font-size: 25px;
    opacity: .5;
}
#username{
    text-align: center;
    padding-top: 15px;
    padding-right: 15px ;
    font-size: 13px;
    font-weight: bold;
}

#username a:link, a:visited, a:hover, a:active {
    text-decoration: none;
  }
#userimage{
    /* background: url(mike.jpg); */
    /* background-size: 100%; */
    width: 40px;
    height: 40px;
    padding: 0px;
    margin: 5px;
    border-radius: 5px;
    /* background-position: 25% center; */
    /* background-repeat: no-repeat;  */

}

#location-icon{
    width: 10px;
    height: 15px;
    padding: 6px 15px 6px 3px;
    margin: 0px;
}

div a{
    padding: 0px;
    margin: 5px;
    font-size: 13px;
    color: rgba(255, 255, 255, 1);
}

div a:not(:first-child):before {
    content: " | ";
}

#subbar a:link, #subbar a:visited, #subbar a:hover, #subbar a:active {
    text-decoration: none;
    color: white;
 }

#subbar a:hover, #subbar a:active {
    color: rgba(255, 255, 255, .6)
}

#slogan{
    padding-top: 5%;
    text-align: center;
    font-size: 80px;
    font-weight: lighter;
    color: white;
}
